:root {
    --body-bg-color: #15202b;
    --blue-twitter:#1c9ded;
    --div-input-color: #192734 ;
    --gray-input-blur: #8899a6;
    --button-blocked:#19608e;
    --button-text-blocked: #7e8a94;
    --footer-ancor:#1786e0;
}

body{
    background-color: var(--body-bg-color);
}



.container header img{
    width: 36px;
}